<div class="dad-board">
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'0'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'0'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'1'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'1'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'2'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'2'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'3'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'3'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'4'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'4'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'5'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'5'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'6'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'6'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'7'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'7'"></dad-cell>
    </div>
    <div class="dad-row">
        <dad-cell class="dad-cell" [column]="'0'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'1'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'2'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'3'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'4'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'5'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'6'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'7'" [line]="'8'"></dad-cell>
        <dad-cell class="dad-cell" [column]="'8'" [line]="'8'"></dad-cell>
    </div>
</div>