<div id="board">
    <div class="row board-row">
        <div class="col-xs-1 board-cell info-board">
            <i class="fa fa-ship" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 board-cell info-board" *ngFor="let columns of todasColunas()">
            {{columns}}
        </div>
    </div>
    <div class="row board-row" *ngFor="let line of todasLinhas(); let i = index">
        <div class="col-xs-1 board-cell info-board">
            {{line}}
        </div>
        <div class="col-xs-1 board-cell" *ngFor="let column of todasColunas(); let j=index">
            {{cells[i][j].value}}
        </div>
    </div>
</div>
