#board {
  height: 300px;
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block; }

.board-cell {
  text-align: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  line-height: 1.5em;
  border: 1px solid black; }

.board-row .board-cell:first-child {
  border-left: 1px solid black;
  border-right: 1px solid black; }

.board-row .board-cell:last-child {
  border-right: 1px solid black; }

.board-row:first-child .board-cell {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.board-row:last-child .board-cell {
  border-bottom: 1px solid black; }

.info-board {
  background-color: rgba(187, 187, 187, 0.44); }

.water-board {
  width: 100%;
  height: 100%;
  background-color: #6282ff;
  color: #6282ff; }
  .water-board:hover {
    background-color: #4279ff;
    color: #4279ff; }

.ship-board {
  width: 100%;
  height: 100%;
  background-color: blue;
  color: blue; }
  .ship-board:hover {
    background-color: #4279ff;
    color: #4279ff; }
