<div *ngIf="listGames != ''">
    <div class="row">
        <h3>List of games waiting players</h3>
    </div>
    <table class="table table-striped table-bordered dataTable" role="grid">
        <thead>
            <tr role="row">
                <td><strong>Game #</strong></td>
                <td><strong>Joined Players</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of listGamesCreated">
                <td>{{list.id}}</td>
                <td>{{list.players.length}}</td>
                <td>
                    <div *ngIf="list.creator==authService.user._id">
                        Waiting for players...
                    </div>
                    <div *ngIf="list.creator!=authService.user._id">
                        <button class="btn btn-success" (click)="joinGame(list._id)">Join Game</button>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let list of listGamesPlaying">
                <td>{{list.id}}</td>
                <td>{{list.players.length}}</td>
                <td>
                    <div>
                        <button class="btn btn-success" (click)="joinGame(list._id)">Play</button>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let list of listGamesWaiting">
                <td>{{list.id}}</td>
                <td>{{list.players.length}}</td>
                <td>
                    <div *ngIf="list.creator!=authService.user._id">
                        <button class="btn btn-success" (click)="joinGame(list._id)">Join Game</button>
                    </div>
                    <div *ngIf="list.creator==authService.user._id">
                        <button class="btn btn-success" (click)="startGame(list._id)">Start Game</button>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let list of listGamesWaitingInGame">
                <td>{{list.id}}</td>
                <td>{{list.players.length}}</td>
                <td>
                    <div>
                        Waiting for start...
                    </div>
                </td>
            </tr>
            <tr *ngFor="let list of listGamesFull">
                <td>{{list.id}}</td>
                <td>{{list.players.length}}</td>
                <td>
                    <div>
                        <button class="btn btn-success" (click)="joinGame(list._id)">Start</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>